.order-item {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 15px;
  padding: 1rem;
  gap: 1rem;
}

.order-item .order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.order-info > span {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
}

.order-info span strong {
  color: var(--purple-effect);
}

.order-info span strong svg {
  width: 1rem;
}

.order-item .date {
  margin-top: 1rem;
  align-self: flex-end;
}

.order-item .date strong {
  color: var(--purple-effect);
}

.order-item .date strong svg {
  width: 1rem;
}
