.toast {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 300px;
  padding: 0.8rem 1rem;
  line-height: 1.4rem;
  box-shadow: 0 0 10px 1px #0f0f0f66;
  font-weight: 700;
  border-radius: 3px;
  animation: fade 1s linear 2s 1;
  color: white;
}
