.usermanager-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  max-height: 80vh;
  min-height: 80vh;
  height: 100%;
  margin: 1rem;
  padding: 1rem 2vw;
  background-color: #fff;
  color: #252525;
  overflow: auto;
  border-radius: 3px;

  h2 {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }

  p,
  strong {
    display: inline-block;
  }

  .close-usermanager {
    position: absolute;
    cursor: pointer;
    background: none;
    right: 0;
    height: 25px;
    margin-right: 1rem;
    width: 25px;
    border: none;
    outline: none;
    transition: all 0.3s;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 10px;
      width: 3px;
      height: 100%;
      background: rgb(255, 55, 55);
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 10px;
      width: 3px;
      height: 100%;
      background: rgb(255, 55, 55);
      transform: rotate(-45deg);
    }

    &:hover {
      transform: rotate(180deg) scale(1.2) translateX(-2px);
      filter: none;
    }
  }

  .create-new-user {
    position: absolute;
    left: 1rem;
    outline: none;
    border: none;
    background: #4bccff;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    padding: 0.6rem 1rem;

    span {
      display: none;
    }
  }

  .userslist-title {
    display: flex;
    justify-content: center;
  }

  .zebra-item {
    background: #fafafa;
  }
}

.user-item {
  cursor: pointer;

  &:hover {
    background-color: #e9e9e9;
    transform: scale(1.02);
  }

  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.5);
      color: #4bccff;
    }
    & + svg {
      margin-left: 0.4rem;
    }
  }
}

.user-item,
.user-item-title {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;

  .item-buttons {
    display: flex;
    flex-wrap: nowrap;
  }

  strong {
    margin-right: 0.4rem;
  }

  .item-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .item-info .user-name {
    flex: 1;
    overflow: hidden;
  }

  .item-info .user-email {
    flex: 5;
    display: flex;
    justify-content: center;
  }
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: none;
  padding: 0 0.4rem;
  background: none;
  transition: left 0.3s ease-in-out;

  &:hover {
    left: 0.4rem;
  }
}

.title-create {
  width: 100%;
  text-align: center;
}

.create-user-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs-container-user {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;

    input,
    select {
      background-color: #f8f8f8;
      height: 2.4rem;
      padding: 0 0.6rem;
      border: none;
      border-bottom: 1px solid #a1a1a1;
      border-radius: 3px;
      margin-top: 0.2rem;
      font-size: 1rem;
    }

    select:focus {
      outline-color: var(--purple-effect);
    }

    option {
      background: white !important;
      font-size: 1.2rem;
      padding: 1rem;
      line-height: 2rem;
    }

    input:focus {
      outline-color: var(--purple-effect);
    }

    &:focus-within {
      color: var(--purple-effect);
    }
  }
}

.save-user-button {
  margin-top: 2rem;
  width: 100%;
  height: 2.4rem;
  border: 1px solid var(--purple-effect);
  background: white;
  margin-bottom: 0.6rem;
}

@media (max-width: 600px) {
  .create-new-user {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    top: 1.6rem !important;
    height: 40px;
    width: 40px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      filter: none;
      svg {
        animation: onHover 0.6s ease-in-out 1;
      }
    }

    p {
      display: none;
    }

    svg {
      width: 22px;
      height: 22px;
    }

    span {
      display: block !important;
    }
  }
}

@keyframes onHover {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

// .usermanager-content {
//   width: 100%;
//   display: flex;
//   justify-content: space-around;
// }
